body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right top, #ed8e00, #e15c42, #b7405e, #7b3764, #3f2e50, #333352, #293750, #263a4b, #2f5970, #347a94, #359eb6, #38c3d5);

}